.card {
  color: #fff;
  background-color: #7e7269;
}

.button {
  width: max-content !important;
}

:global {
  .mantine-Modal-overlay {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  .mantine-Modal-title {
    color: #fff;
    font-weight: 700;
  }
  .mantine-Modal-close {
    color: #fff;
    &:hover {
      color: #000;
    }
  }

  .mantine-Modal-header {
    font-weight: bold;
    color: #fff !important;
    background-color: rgb(74, 75, 74) !important;
  }

  .mantine-Modal-body {
    background-color: rgb(74, 75, 74) !important;
  }
}

.select {
  color: #fff;
}

:global(.mantine-Select-options) {
  color: #000 !important;
}
