.container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999999 !important;
}

.message {
  position: absolute;
  z-index: 999 !important;
  animation: show-message 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  pointer-events: all;
}

// Position variants
.top-right {
  top: 35px;
  right: 24px;
}

.top-left {
  top: 35px;
  left: 24px;
}

.bottom-right {
  bottom: 100px;
  right: 24px;
}

.bottom-left {
  bottom: 120px;
  left: 24px;
}

:global(.mantine-Notification-root) {
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

:global(.mantine-Notification-body) {
  display: flex;
  align-items: center;
}

:global(.mantine-Notification-title) {
  font-size: 14px;
  font-weight: 500;
}

:global(.mantine-Notification-description) {
  font-size: 14px;
  color: #555;
}

:global(.mantine-Notification-closeButton) {
  color: #888;
  transition: color 0.2s ease;
}

:global(.mantine-Notification-closeButton:hover) {
  color: #000;
}

@media (max-width: 992px) {
  .message {
    max-width: calc(100% - 48px);
  }
}

@keyframes show-message {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
