.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  box-sizing: content-box;
  background: var(--background-blue);
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23007BE5FF' stroke-width='3' stroke-dasharray='8%2c 14' stroke-dashoffset='33' stroke-linecap='square'/%3e%3c/svg%3e");

  .content {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-blue);

  &Red {
    color: var(--main-red);
  }
}

.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--main-blue);
}

.uploader {
  &--state {
    &-default {
      &.uploader--variant-dashed {
        .label {
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23007BE5FF' stroke-width='3' stroke-dasharray='8%2c 14' stroke-dashoffset='33' stroke-linecap='square'/%3e%3c/svg%3e");
        }
      }

      &.uploader--variant-solid {
        .label {
          background-image: none !important;
          border: 1px solid var(--main-blue) !important;
        }
      }
    }

    &-error {
      &.uploader--variant-dashed {
        .label {
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23ff0000' stroke-width='3' stroke-dasharray='8%2c 14' stroke-dashoffset='33' stroke-linecap='square'/%3e%3c/svg%3e");
        }
      }

      &.uploader--variant-solid {
        .label {
          background-image: none;
          border: 1px solid var(--main-red);
        }
      }
    }

    &-success {
      &.uploader--variant-dashed {
        .label {
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23009a10' stroke-width='3' stroke-dasharray='8%2c 14' stroke-dashoffset='33' stroke-linecap='square'/%3e%3c/svg%3e");
        }
      }

      &.uploader--variant-solid {
        .label {
          background-image: none;
          border: 1px solid var(--main-green);
        }
      }
    }

    &-warning {
      &.uploader--variant-dashed {
        .label {
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23ff9500' stroke-width='3' stroke-dasharray='8%2c 14' stroke-dashoffset='33' stroke-linecap='square'/%3e%3c/svg%3e");
        }
      }

      &.uploader--variant-solid {
        .label {
          background-image: none;
          border: 1px solid var(--main-orange);
        }
      }
    }
  }
}

.block {
  .label {
    width: initial;
  }
}

.label {
  min-width: 236px;
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  background: var(--background-blue);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 16px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23007BE5FF' stroke-width='3' stroke-dasharray='8%2c 14' stroke-dashoffset='33' stroke-linecap='square'/%3e%3c/svg%3e");

  input {
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.message {
  margin-top: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--main-black);

  &-error {
    color: var(--main-red);
  }

  &-success {
    color: var(--main-green);
  }

  &-warning {
    color: var(--main-orange);
  }
}
