.myOrdersWrapper {
  display: flex;
  padding: 40px 16px;
  flex-direction: column;
  gap: 12px;

  @media (min-width: 768px) {
    padding: 40px;
  }

  @media (min-width: 1024px) {
    padding: 40px 14rem;
  }
}

.orderCard {
  cursor: pointer;
  background-color: #67594c;
  border-left: 4px solid #4dabf7;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease;
}

.orderItem {
  margin: 4px 0;
  font-size: 14px;
  color: #fdfdfd;

  span {
    font-weight: 600;
    margin-right: 8px;
    color: #fff;
  }
}
