.wrapper {
  display: block;

  &--templatable {
    .content {
      padding: 0;

      .footer {
        display: flex;
      }
    }

    .buttons {
      display: none;
    }
  }

  &--scrollable {
    display: flex;
    height: 100%;

    :global(.ant-modal-content) {
      height: 100% !important;
      overflow: auto !important;
    }

    :global(.ant-modal-body) {
      display: flex !important;
      flex-direction: column !important;
      height: calc(100% - 72px) !important;

      @media (max-width: 768px) {
        height: calc(100% - 24px) !important;
      }
    }

    .content {
      height: 100%;
    }

    &.wrapper--templatable {
      .content {
        display: flex;
        flex-direction: column;

        &Inner {
          flex: 1;
          height: 100%;
          overflow: auto;
        }
      }
    }
  }
}

.content {
  &Inner {
    display: block;
  }

  .footer {
    display: none;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 32px 0 8px 0;
  background-color: #fff;
  gap: 12px;

  @media (max-width: 576px) {
    padding: 12px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 32px 0 8px 0;
  background-color: #fff;

  @media (max-width: 576px) {
    padding: 12px 0 0;
  }
}
