.container {
  width: 100%;
  padding: 30px 24px;
  height: max-content;
  min-height: var(--max-height);
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 36px;

  @media (min-width: 768px) {
    font-size: 28px;
  }
}

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
