.myOrdersWrapper {
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.orderCard {
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #67594c;
  border-left: 4px solid #4dabf7;
  transition: background-color 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.orderItem {
  margin: 4px 0;
  font-size: 14px;
  color: #fdfdfd;

  span {
    font-weight: 600;
    margin-right: 8px;
    color: #fff;
  }
}
