.ant-table-container {
  border-radius: 0 !important;
  border-inline-start: 0 solid var(--dark-gray-30) !important;
  border-top: 0 solid var(--dark-gray-30) !important;

  table {
    > tbody {
      > tr:last-child {
        td:first-child {
          border-bottom-left-radius: 0 !important;
        }

        td:last-child {
          border-bottom-right-radius: 0 !important;
        }
      }
    }
  }
}

.ant-table-wrapper {
  & table {
    border-radius: 0 !important;
  }
}

.ant-table-thead > tr .ant-table-cell-fix-right,
.ant-table-cell-fix-right-first {
  background-color: var(--main-white) !important;
  border: 0 !important;
}

.ant-table-wrapper {
  .ant-table-thead > tr > th {
    background-color: transparent;

    &:first-child {
      padding: 16px 0 !important;
    }

    &:not(:first-child) {
      padding: 16px !important;
    }
  }

  .ant-table-tbody > tr > td:first-child {
    padding: 16px 0 !important;
  }

  .ant-table-tbody > tr > td:not(:first-child) {
    padding: 16px !important;
  }
  .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table {
    > thead > tr > th {
      border-inline-end: 0 !important;
      border-bottom: 1px solid var(--black-white-stroke-2) !important;
    }

    > tbody > tr > td {
      border-inline-end: 0 !important;
      border-bottom: 1px solid var(--black-white-stroke-2) !important;
    }

    > tbody > tr.ant-table-measure-row > td {
      border: 0 !important;
      padding: 0 !important;
      height: 0px !important;
    }
  }

  .ant-table-cell-fix-right {
    z-index: 999 !important;
  }

  .ant-table-cell {
    height: 56px !important;
    padding: 0 !important;

    @media (max-width: 768px) {
      padding: 8px 12px !important;
    }

    &:last-child {
      border: none !important;
    }
  }

  .ant-table-cell-fix-right {
    z-index: 1;
  }

  .ant-table {
    font-family: 'Golos Text', sans-serif;
    overflow: hidden;
    color: var(--black-white-dark, #181818);
    text-overflow: ellipsis;

    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }

  .ant-table-thead > tr > th {
    font-weight: 500;
    color: var(--black-white-dark, #181818);
  }
}

.ant-table-cell {
  &-row-hover {
    cursor: pointer;
    background: #e5f1ff !important;
    color: var(--blue-light-light-5) !important;
  }
}

.ant-table-content {
  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 15px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--main-blue);
    border-radius: 10px;
  }
}

.ant-table-wrapper {
  .ant-table.ant-table-bordered {
    > .ant-table-container > .ant-table-content > table {
      tbody tr td {
        color: var(--Gray-1000);
      }

      tbody tr td:first-child {
        color: var(--black-white-dark);
      }

      thead tr .ant-table-cell-fix-right-first::after {
        border-left: none !important;
        border-right: none !important;
        border-inline-start: none !important;
        border-inline-end: none !important;
      }

      tbody tr:hover {
        color: var(--blue-light-light-5) !important;
      }
    }
  }
}
