.container {
  position: sticky;
  bottom: 0;
  z-index: 999;
  width: 100%;
  background-color: #323638;
  height: 80px;
  border-top: 1px solid #515b69;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 16px;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 120px;
  color: white;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  user-select: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #fff;
    outline: none;
    background-color: #0c7bc5;
  }

  &.active {
    color: #fff;
    background-color: #0c7bc5;
  }

  @media (min-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    width: 100px;
  }
}

.icon {
  font-size: 20px;
}

.label {
  font-size: 11px;
}
