.my_orders_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
  padding: 30px 24px;
  height: var(--max-height);

  @media (max-width: 768px) {
    padding: 20px 8px;
  }
}

.active_order_card {
  height: max-content;
}

.sections_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100% !important;
}

.completed_orders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: max-content;
  overflow-y: auto;
  min-height: 220px;
  max-height: 300px;
  padding: 20px 14px;
  border-radius: 6px;
  margin-top: auto;
  border: 1px solid #565f68;
  background-color: #383e44dc;
}

.completed_orders_content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  max-height: 100%;
  min-height: 200px;
  height: max-content !important;
}

.empty_icon {
  font-size: 40px;
}

.completed_orders_title {
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--font);

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

:global(.mantine-Tree-subtree) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 0 0 0;
  font-weight: 400 !important;
  margin-bottom: 16px !important;
  border-radius: 7px !important;
  border: 1px solid #505050 !important;
  background-color: #333333 !important;
}

:global(.data-hovered) {
  font-weight: 700 !important;
}

.no_active_ride {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;

  & > p {
    color: #fff;
    font-size: 16px;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}
