.wrapper {
  width: 100%;

  &--state {
    .picker {
      border: 1px solid var(--dark-gray-30);
    }

    &-default {
      .picker {
        border: 1px solid var(--dark-gray-30);
        width: -webkit-fill-available;
      }
    }

    &-error {
      .picker {
        border: 1px solid var(--main-red);
      }
      :global(.react-datepicker__calendar-icon) {
        color: var(--main-red);
      }
    }

    &-success {
      .picker {
        border: 1px solid var(--main-green);
      }

      :global(.react-datepicker__calendar-icon) {
        color: var(--main-green);
      }
    }

    &-warning {
      .picker {
        border: 1px solid var(--main-orange);
      }

      :global(.react-datepicker__calendar-icon) {
        color: var(--main-orange);
      }
    }
  }

  &--disabled {
    :global(.react-datepicker__calendar-icon) {
      color: var(--dark-gray-60);
    }

    .picker {
      border-color: 1px solid var(--dark-gray-40);
      background-color: var(--dark-gray-20);
      color: var(--dark-gray-60);
      cursor: not-allowed;
    }
  }

  &--size {
    &-sm {
      .picker {
        height: 45px !important;

        @media (max-width: 768px) {
          height: 40px !important;
        }
      }
    }

    &-md {
      .picker {
        height: 56px !important;

        @media (max-width: 768px) {
          height: 44px !important;
        }
      }
    }

    &-lg {
      .picker {
        height: 58px !important;

        @media (max-width: 768px) {
          height: 50px !important;
        }
      }
    }
  }
}

.button {
  background-color: inherit;
  border: none;
  outline: none;
  color: var(--main-blue);
  padding: 0;

  &:hover {
    cursor: pointer;
  }

  &Left {
    justify-content: flex-start;
  }

  &Right {
    justify-content: flex-end;
  }
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  overflow: hidden;
  outline: none;
  width: fit-content;
  color: var(--dark-gray-100);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 0;
  margin: 0;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(33, 37, 41, 0.16);
}

.label {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  color: var(--main-black);
  margin-bottom: 12px;

  @media (max-width: 768px) {
    margin-top: 8px;
    font-size: 14px;
  }

  &Required {
    color: var(--main-red);
  }
}

.message {
  margin-top: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--main-black);

  &-error {
    color: var(--main-red);
  }

  &-success {
    color: var(--main-green);
  }

  &-warning {
    color: var(--main-orange);
  }
}

:global(.react-datepicker-wrapper) {
  input {
    min-height: unset !important;
    padding: 0 16px !important;
  }
}
