.wrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.5;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.itemName {
  color: var(--dark-gray-70);
  white-space: nowrap;
  overflow: hidden;
  font-size: 24px;
  line-height: 130%;
  text-overflow: ellipsis;
  color: var(--black-white-dark);
}

.itemLink {
  text-decoration: none;
  color: var(--dark-gray-70);

  &:hover {
    color: var(--primary-color);
  }
}

.separator {
  margin: 0 17px;
  display: flex;
  width: 5.5px;
  height: 11.5px;
  align-items: center;
  justify-content: center;
  color: var(--Gray-1000);
}
