.empty_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: max-content;
  min-height: var(--max-height);
}

.full_height {
  height: 100dvh !important;
  overflow: hidden !important;
}

.icon {
  color: #dbd9d9;
  font-size: 34px;
  user-select: none;

  @media (min-width: 992px) {
    font-size: 44px;
  }
}

.title {
  font-weight: 500;
  text-align: center;
}

.subtitle {
  font-size: 14px;
  padding: 14px;
  word-break: break-all; /* yoki break-word */
  overflow-wrap: anywhere; /* so‘z bo‘linishiga ruxsat */
}

.button {
  margin-top: 8px;
  height: 44px;
}
