.layout {
  min-height: 100dvh;
  height: max-content;
}

.content {
  width: 100%;
  height: max-content;
  min-height: calc(100dvh - 80px);

  @media (max-width: 768px) {
    padding: 0 10px;
  }

  @media (max-width: 600px) {
    padding: 0 6px;
  }
}
