.container {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  gap: 10px;
  width: 170px;
  padding: 12px 8px;
  border-radius: 10px;
  border: 1px solid rgb(19, 223, 148);
  background: linear-gradient(90deg, rgb(18, 168, 113), rgb(10, 140, 99), rgb(6, 168, 127));

  @media (min-width: 567px) {
    width: 200px;
  }

  @media (max-width: 567px) {
    width: 150px;
  }
}

.icon {
  font-size: 30px;
}

.content {
  font-size: 14px;
  font-weight: 600;
}

.active {
  border: 1px solid rgb(13, 255, 199);
  background: linear-gradient(90deg, rgb(10, 123, 82), rgb(7, 111, 78), rgb(6, 114, 87));
}
