.container {
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
  min-width: 50px;
  padding: 12px 8px;
  border-radius: 10px;
  border: 1px solid rgb(19, 223, 148);
  background: linear-gradient(90deg, rgb(10, 123, 82), rgb(7, 111, 78), rgb(6, 114, 87));

  @media (max-width: 567px) {
    width: 150px;
  }
}

.carSvg {
  width: 70%;
}

.content {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  user-select: none;
  text-align: center;
}

.active {
  border: 1px solid rgb(57, 248, 255);
  background: linear-gradient(90deg, rgb(10, 88, 60), rgb(10, 90, 65), rgb(9, 90, 70));
}
