@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './base/variable.css';

@tailwind base;
@tailwind utilities;
@tailwind components;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  color: #fff !important;
  background: #13110f !important;
  background: #1c2025 !important;
}
