.container {
  display: flex;
  padding: 30px 24px;
  height: max-content;
  flex-direction: column;
  min-height: var(--max-height);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
}

.passengerfullName {
  font-size: 18px;
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 20px 14px;
  border-radius: 6px;
  height: max-content;
  background: #4e54c8;
  background: linear-gradient(160deg, #503326, #493523);
}

.cashbackShare {
  margin-top: 20px;
  color: #9599e8;
}

.cashbackShare > button {
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #2631ffbb;
}
